@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

.Spreadsheet * {
  font-family: 'Inter';
}

.tiptap p {
  margin: 0;
}

.lexical-p {
  margin: 0;
  height: inherit;
  width: inherit;
}
