@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

.Spreadsheet * {
  font-family: 'Inter';
}

.Spreadsheet-Column-Headers {
  display: flex;
  flex-direction: row;
}

.Spreadsheet-Column-Headers > .Spreadsheet-Column-Header {
  border-bottom: thin solid #e0e0e0;
  border-right: thin solid #e0e0e0;
  border-top: thin solid #e0e0e0;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.Spreadsheet-Rows {
  display: flex;
  flex-direction: column;
}

.Spreadsheet-Row {
  display: flex;
  flex-direction: row;
}

.Spreadsheet-Row-Number {
  min-width: 50px;
  min-height: 30px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;

  border-right: thin solid #e0e0e0;
  border-left: thin solid #e0e0e0;
  border-bottom: thin solid #e0e0e0;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.Spreadsheet-Row-Number-First {
  border-top: thin solid #e0e0e0 !important;
}

.Spreadsheet-Active-Cell-No-Content {
  caret-color: transparent !important;
  cursor: default;
}

.Spreadsheet-Formula-Bar {
  display: flex;
  flex-direction: row;
  padding: 6px;
}

.Spreadsheet-Formula-Bar > .Spreadsheet-Formula-Bar-Active-Cell {
  width: 10%;
  border-right: 2px solid gray;
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Spreadsheet-Formula-Bar > .Spreadsheet-Formula {
  width: 70%;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.Spreadsheet-Formula-Bar .Spreadsheet-Formula-Editor-Icon {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
}

.Spreadsheet-Formula-Bar .Spreadsheet-Formula-Editor {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
